solution/__pycache__/
solution/log/__pycache__/
solution/path_planing/__pycache__/
solution/scheduler/__pycache__/
solution/core/__pycache__/
replay/
solution/log/main.log
solution/log/robot.log
solution/log/root.log
solution/log/scheduler.log
input.txt
solution/core/__pycache__/boat.cpython-37.pyc
solution/core/__pycache__/env.cpython-37.pyc
solution/core/__pycache__/utils.cpython-37.pyc
input.txt
